html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn {
    color: #0b5ed7;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.saveButton, .deleteButton {
    display: inline-block; /* Ensure buttons are visible */
    margin-right: 5px; /* Add some spacing between buttons */
}
.hLabel {
    visibility: hidden;
}
.amend_I {
    display: inline-block; /* Ensure buttons are visible */
    margin-top: 12px; /* Add some spacing between buttons */
    margin-right: 5px; /* Add some spacing between buttons */
    min-width: 100px; /* Minimum width */
    min-height: 40px; /* Minimum height */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
}