@model MVCBudget.Models.Visual_Grid

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasData = false;
    if(Model.Net_income > 0)
    {
        hasData = true; 
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script src="~/js/visual_grid.js"></script>
<style>
     #dataTable th:nth-child(1), #dataTable td:nth-child(1) { /* Entry ID */
        display: none;
    }

    #dataTable th:nth-child(2), #dataTable td:nth-child(2) { /* Description Time */
        display: none;
    }

    #dataTable th:nth-child(5), #dataTable td:nth-child(5) { /* Income */
        display: none;
    }
</style>

<h1>Index</h1>

<div>
    <h4>Visual_Grid</h4>
    <hr />
    <dl class="row">
    </dl>
</div>

@using (Html.BeginForm("Index", "Visual_Grid", FormMethod.Post))
{
    <div class="form-group">
        <label asp-for="Selected" class="control-label"></label>
        <select asp-for="Selected" 
        id ="incomeDropdown" 
        class="form-control" 
        asp-items="@(new SelectList(Model.Income_Lots, "Key", "Value"))"
        data-change-url="@Url.Action("Change", "Visual_Grid")"
        data-index-url="@Url.Action("Index", "Visual_Grid")">
    
    </select>
        <span asp-validation-for="Selected" class="text-danger"></span>
        <br />
        @* <input type="submit" value="Show Values" /> *@
    </div>
}
<br />

<script type="text/javascript">
      
</script>
  @using (Html.BeginForm("Edit", "Visual_Grid", FormMethod.Post))
                    {
            
                    }

<table class="table" id="dataTable">
   
    <tbody>
    </tbody>

</table>
<div class="row">
    <div class="col-sm-1">
        <label id="hiddenID" class="hLabel"></label>
    </div>
    <div class="col-sm-3">
        <label>Gross Income</label>
        <input type="text" id="incomeInput"  />
    </div>
    <div class="col-sm-4">
        <label>Total Costs</label>
        <input type="text" id="costInput" readonly />
    </div>
    <div class="col-sm-4">
        <label>Net Income</label>
        <input type="text" id="netInput" readonly />
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        
    </div>
    <div class="col-sm-10">
        
        <button type="button" class="btn btn-primary btn-lg amend_I" text="Amend Income">Amend Income</button>
    </div>
 
</div>
<div>
    <h4>Add Extra Expenses</h4>
    @* <div class="col-12">
        <button type="button" class="btn-dark" id="controllAdd">Add More Controls</button>
    </div> *@
    <form class="FormExtras">

        <div class="col-12 frmInputs" id="dynamicControls">
       
        
            <div class="col-12" id="ExtraControls" >
                <input type="text" id="" name="StringKeys" class="tv" value="" />
                <input type="text" name="DecimalValues" class="dv" value="" />
            </div>
        
    </div>
    <div class="col-12">
            <button type="button" class="btn-light" id="addExtraData">Add Extra Data</button>
    </div>
    </form>
    
    
</div>




    


