@model MVCBudget.Models.Visual_Grid

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasData = false;
    if(Model.Net_income > 0)
    {
        hasData = true; 
    }
}
<style>
     #dataTable th:nth-child(1), #dataTable td:nth-child(1) { /* Entry ID */
        display: none;
    }

    #dataTable th:nth-child(2), #dataTable td:nth-child(2) { /* Description Time */
        display: none;
    }

    #dataTable th:nth-child(5), #dataTable td:nth-child(5) { /* Income */
        display: none;
    }
</style>

<h1>Index</h1>

<div>
    <h4>Visual_Grid</h4>
    <hr />
    <dl class="row">
    </dl>
</div>

@using (Html.BeginForm("Index", "Visual_Grid", FormMethod.Post))
{
    <div class="form-group">
        <label asp-for="Selected" class="control-label"></label>
        <select asp-for="Selected" id ="incomeDropdown" class="form-control" asp-items="@(new SelectList(Model.Income_Lots, "Key", "Value"))"></select>
        <span asp-validation-for="Selected" class="text-danger"></span>
        <br />
        <input type="submit" value="Show Values" />
    </div>
}
<br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

<script type="text/javascript">
      var dropdownChanged = false;

    $(document).ready(function () 
       
       { 
           dropdownChanged = false;
           $('#incomeDropdown').change(function () { 
               dropdownChanged = true;
               var selectedValue = $(this).val(); 
    
            // Check if a value is selected
            $.ajax({ url: '@Url.Action("Change", "Visual_Grid")', 
            type: 'GET', 
            data: { Selected: selectedValue }, 
            success: function (data) { console.log("Received data:", data); 
            if (data.Message && data.Message === "No data found")
            { window.location.href = '@Url.Action("Index", "Visual_Grid")'; } 
            else
            { updateTable(data); } }, error: function (error) { console.log("Error:", error); } });  
        }); 

        $(document).on('click', '.saveButton', 
        function() 
            { 
                var entryId = $(this).data('entry-id'); 
                var amount = parseFloat($(this).closest('tr').find('.amountInput').val());
                //saveEntry(entryId, amount); 
                console.log(entryId);
                console.log(amount);
                saveEntry(entryId, amount);

            });
        
        $(document).on('click', '.deleteButton',
        function()
            {
                var entryId = $(this).data('entry-id');
                //saveEntry(entryId, amount);
                console.log(entryId);
                deleteEntry(entryId);

            });
        
        
        // $(document).on('click', '.saveButton',
        // function()
        //     {
        //         var entryId = $(this).data('entry-id');
        //         var amount = parseFloat($(this).closest('tr').find('.amountInput').val());
        //         //saveEntry(entryId, amount);
        //         console.log(entryId);
        //         console.log(amount);
        //         saveEntry(entryId, amount);

        //     });
        // });

        $(document).on('click', '.amend_I',
        function()
            {
                var entryId = document.getElementById('hiddenID').innerHTML ;
                var amount = $('#incomeInput').val();
                //saveEntry(entryId, amount);
                console.log(entryId);
                console.log(amount);
                saveIncome(entryId, amount);

            });
        });

    function updateTable(data) {
        console.log(data);
        var index = 0;
        var ii = {};
         var rows ='';
         var heads = '';
         var income = 0;
         var summedcosts = 0;
         var main_id = 0;

    // Assuming you have a table with an id of 'dataTable' 
       data.forEach(item => { if (item && item.entry_id && item.description_time && item.entry_name && item.amount && item.income) 
           { 
               if (index == 0)
               {
                    heads += '<thead>';
                    heads  += '<tr>';
                    heads   +='<th scope="col">Entry ID</th>';
                    heads   +='<th scope="col">Decription Time</th>';
                    heads   += '<th scope="col">Entry Name</th>';
                    heads   +='<th scope="col">Amount</th>';
                    heads   +='<th scope="col">Income</th>';
                    heads   +='<th scope="col">Save</th>';
                    heads   +='<th scope="col">Delete</th>';
                    heads   += '</tr>';
                    heads   += '</thead>';
                    
                    rows += heads;
                    income = item.income;
                    main_id = item.id
                    document.getElementById('hiddenID').innerHTML =main_id;
               }
               rows += '<tr>'; 
               rows += '<td>' + item.entry_id + '</td>'; 
               rows += '<td>' + item.description_time + '</td>'; 
               rows += '<td>' + item.entry_name + '</td>'; 
               rows += '<td> <input type="text" class="amountInput" value="' + item.amount + '"></td>';
               rows += '<td>' + item.income + '</td>'; 
               rows += '<td> <button type="button" class="btn btn-primary saveButton" data-entry-id="' + item.entry_id + '" data-amount="' + item.amount + '">Save</button> </td>';
               rows += '<td><button type="button" class="btn btn-primary deleteButton" data-entry-id="' + item.entry_id + '">Delete</button></td>';
               rows += '</tr>'; 
               console.log(item); 
               summedcosts += item.amount;
               index++;
           }
           else { console.error('Invalid item:', item); } });
            $('#dataTable').html(rows);
            $('#incomeInput').val(income);
            $('#costInput').val(summedcosts);
            $('#netInput').val(income - summedcosts);

    }
    function saveIncome(entryId, amount)
    {
        console.log('Data:', { entryId: entryId, amount: amount });
        $.ajax(
            { url: '/Visual_Grid/Income_Amend'
            , type: 'POST'
            , contentType: 'application/json'
            , data: JSON.stringify({ entryId: entryId, amount: amount })
            , success: function(response)
                { 
                    console.log('Entry saved successfully:', response); 
                    document.getElementById('incomeInput').value = response.income;
                    document.getElementById('costInput').value = response.costs;
                    document.getElementById('netInput').value =  response.income - response.costs;
                }
            , error: function(error)
                { console.error('Error saving entry:', error); }


        });

    }



    function saveEntry(entryId, amount) 
    { 
        console.log('Data:', { entryId: entryId, amount: amount }); 
        $.ajax(
            { url: '/Visual_Grid/Make'
            , type: 'POST'
            , contentType: 'application/json'
            , data: JSON.stringify({ entryId: entryId, amount: amount })
            , success: function(response) 
                { console.log('Entry saved successfully:', response); }
            , error: function(error) 
                { console.error('Error saving entry:', error); } 
        
        
        });
    
    }

    function deleteEntry(entryId) 
    { 
        console.log('Delete button clicked for entry ID:', entryId); 
        $.ajax({ url: '/Visual_Grid/DeleteEntry'
        , type: 'POST'
        , contentType: 'application/json'
        , data: JSON.stringify({ entryId: entryId })
        , success: function(response) { console.log('Entry deleted successfully:', response); }
        , error: function(error) { console.error('Error deleting entry:', error); } 
        });
    }


</script>
  @using (Html.BeginForm("Edit", "Visual_Grid", FormMethod.Post))
                    {
            
                    }

<table class="table" id="dataTable">
   
    <tbody>
    </tbody>

</table>
<div class="row">
    <div class="col-sm-1">
        <label id="hiddenID" class="hLabel"></label>
    </div>
    <div class="col-sm-3">
        <label>Gross Income</label>
        <input type="text" id="incomeInput"  />
    </div>
    <div class="col-sm-4">
        <label>Total Costs</label>
        <input type="text" id="costInput" readonly />
    </div>
    <div class="col-sm-4">
        <label>Net Income</label>
        <input type="text" id="netInput" readonly />
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        
    </div>
    <div class="col-sm-10">
        
        <button type="button" class="btn btn-primary btn-lg amend_I" text="Amend Income">Amend Income</button>
    </div>
 
</div>


    


