@model MVCBudget.Models.GraphData;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home Graph</h1>
<div> <canvas id="periodChart"></canvas> </div>
<div> <canvas id="CostCahrt"></canvas> </div>
@section scripts 
{
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script> var periodData = @Html.Raw(Json.Serialize(Model.IncomeKVPs)); 
var labels = []; 
var values = [];
console.log(periodData);

        periodData.forEach(function(arrayItem, index) 
        {
                console.log(arrayItem.date);
                console.log(arrayItem.period);
                console.log(arrayItem.income);
                labels.push(arrayItem.date);
                values.push(arrayItem.income);
        
        });


            //labels.push(new Date(item.Period).toISOString().split('T')[0]); 
    //values.push(item.Value); 

console.log(periodData);
console.log(labels);
console.log(values);
var ctx = document.getElementById('periodChart').getContext('2d'); 
var periodChart = new Chart(ctx, 
    { type: 'bar', 
    data: { labels: labels, datasets: 
        [{ 
            label: 'Value', data: values, backgroundColor: 'rgba(54, 162, 235, 0.2)'
            , borderColor: 'rgba(54, 162, 235, 1)', borderWidth: 1 }] }
            , options: { scales: { x: { title: { display: true, text: 'Period' } }
            , y: { beginAtZero: true, title: { display: true, text: 'Value' } } } } 
    });
</script>
}